.mySwiper {
    width: 30vw;
    max-width:  400px;
    height: 60vh;
    min-width: 325px;
    min-height: 500px;
}

.mySwiper .swiper-slide {
    border-radius: 10px;
  }

@media (max-width: 1200px) {
  .mySwiper {
    height: 50vh;
  }

  .mySwiper .swiper-slide {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .mySwiper {
    height: 40vh;
  }

  .mySwiper .swiper-slide {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
    .mySwiper {
        min-width: 250px;
        min-height: 250px;
    }
  .mySwiper {
    width: 250px;
    height: 30vh;
  }

  .mySwiper .swiper-slide {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .mySwiper {
    height: 30vh;
  }

  .mySwiper .swiper-slide {
    font-size: 14px;
  }
}
